{% extends 'common.html' %} {% load static %} {% block content %}

<!-- cripsy form -->
{% load crispy_forms_tags %}
<div class="container">
  <form action="" method="POST" class="form p-3 mt-5 row border border-primary">
    {% csrf_token %}

    <div class="col-6 mx-auto">{{form.food|as_crispy_field}}</div>
    <div class="col-6 mx-auto mb-3">{{form.time|as_crispy_field}}</div>
    <div class="col-6 mx-auto">{{form.calories|as_crispy_field}}</div>
    <div class="col-6 mx-auto"></div>
    <button class="btn btn-primary btn-lg btn-block col-6 mx-auto">Add</button>
  </form>
</div>

{% endblock %}
