{% load static %} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/sts.css' %}" />

    <title>Document</title>
    {% bootstrap_css %}
  </head>
  <body>
    <div class="container-fluid">
      <nav
        class="navbar navbar-expand-lg navbar-light mb-3"
        style="background-color: #b7ffa5"
      >
        <div class="container my-0 mx-auto"><h1>Calories Counter</h1></div>
      </nav>
    </div>
    {% block content %} {% endblock%}
  </body>
</html>
