{% extends 'common.html' %} {% load static %} {% block content %}
<div class="container w-75">
  <div class="row">
    <!-- data rendered -->
    <!-- <div
      class="data"
      style="
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 40rem;
        margin: 1rem;
        gap: 2rem;
        justify-content: space-between;
      "
    > -->
    <h1 class="col-2">Number</h1>
    <h1 class="col-2">Food</h1>
    <h1 class="col-2">Calories</h1>
    <h1 class="col-2">Time</h1>
    <h1 class="col-2">Edit</h1>
    <h1 class="col-2">Delete</h1>

    <a href="{% url 'addCaloriesCounter' %}" class="btn btn-primary col-12 mb-5"
      >ADD NEW FOOD</a
    >
    {% for i in data%}

    <li style="list-style: none" class="col-2">{{i.id}}</li>
    <li style="list-style: none" class="col-2">{{i.food}}</li>

    <li style="list-style: none" class="col-2">{{i.calories}}</li>

    <li style="list-style: none" class="col-2">{{i.time}}</li>
    <a
      href="{% url 'editCaloriesCounter'  i.id %} "
      class="btn btn-secondary col-2 m-0"
      >Edit
    </a>

    <a
      href="{% url 'deleteCaloriesCounter'  i.id %}"
      class="btn btn-outline-danger col-2"
      >Delete</a
    >

    {% endfor %}
    <a href="{% url 'addCaloriesCounter' %}" class="btn btn-primary col-4"
      >Add</a
    >
    <div class="btn btn-outline-info col-4 align-self-start">Total Calories Are:</div>

    <div class="btn btn-info col-4 align-self-start">{{total}}</div>
  </div>
  </div>
</div>

{% endblock %}
