{% extends 'common.html' %} {% load static %} {% block content %}
<div class="container w-75">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Food</th>
        <th scope="col">Calories</th>
        <th scope="col">Time</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data%}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.food}}</td>
        <td>{{i.calories}}</td>
        <td>{{i.time}}</td>
        <td>
          <a
            href="{% url 'editCaloriesCounter'  i.id %} "
            class="btn btn-secondary"
            >Edit
          </a>
        </td>
        <td>
          <a
            href="{% url 'deleteCaloriesCounter'  i.id %}"
            class="btn btn-outline-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
      <td colspan="3">
        <a
          href="{% url 'addCaloriesCounter' %}"
          class="btn btn-primary btn-lg btn-block mx-auto"
          >ADD NEW FOOD</a
        >
      </td>
      <td colspan="3">
        <div class="btn btn-info btn-block">
          Total Calories Are: <span class="h4 ml-3">{{total}}</span>
        </div>
      </td>

      {% endblock %}
    </tbody>
  </table>
</div>
